$main-color : black;
// $background-color-1 : #F0EDE5;
$background-color-1 : #F6F5F1;




.stack-btn {
    border: 1px solid $main-color;
    border-radius: 100px;
    padding: 9px 14px 7px 14px;;
    background-color: $background-color-1;
    font-size: 1rem;
    margin: 4px 4px 4px 0;

    &:hover {
        background-color: $background-color-1;
    }
}