$main-color : black;
$First-font : myFirstFont;

.skills-container {
    border-bottom: 1px solid $main-color;
    overflow: hidden;
    height: 500px;
    img {
        height: 64px;
    }
}

// @media screen and (max-width: 700px) {
//     .skills-container {
//         height: 475px;

//         // padding: 8px;
//         // display: grid;
//         // grid-template-columns: 1fr 1fr;
//         // grid-template-rows: repeat(6, 64px);
//         // justify-items: start;
//         // align-content: flex-end;


//         // img {
//         //     height: 64px;
//         //     width: 100%;
//         //     &:first-of-type {
//         //         width: initial;
//         //         grid-area: 1 / 1 / 2 / 3; 
//         //     }
//         // }

// }
// }