$First-font : myFirstFont;
$main-color : #260F71;
$background-color-1 : #f7f6fa;



.scrollingtext-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    font-size: 5rem;
    position: relative;
    height: 150px;
    border-bottom: 1px solid $main-color;

    div {
        position: absolute;
        left: -300px;
        font-family: ClearfaceITCW01;
        // font-family: myThirdFont;
        // font-weight: 400;
        // font-style: italic;
    }
  }

  @media screen and (max-width: 700px) {
    .scrollingtext-container {
        font-size: 3rem;
        height: 100px;
      }

}