$background-color-1 : #F6F5F1;



#contacts {
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .shy-container {
        position: absolute;
        left: 10%;
        top: 0;
        height: 125px;
        width: 125px;
        overflow: hidden;
        img {
            height: 125px;
            width: 375px;
            animation: move .3s steps(3) infinite;
        }
    }

    a {
        cursor: none;
        border-radius: 100px;
        background-color: transparent;
        text-decoration: none;
        margin: 16px;
        button {
            font-size: 54px;
            font-family : ClearfaceITCW01;
            background-color: $background-color-1;
            border: none;
            border: 1px solid black;
            border-radius: 100px;
            padding: 7px 20px 7px 20px;
            transition: transform 0.1s linear;
            cursor: none;
            &:hover {
                color: #EE4E2B;
                background-color: #F7D9D3;


            }
            
        }
    }


}

@media screen and (max-width: 700px) {
    #contacts {
        height: 300px;
        .shy-container {
            display: none;
        }
        a {
            padding: 8px;
            margin: 8px;
            cursor: none;
            button {
                border-radius: 100px;
                font-family : ClearfaceITCW01;
                font-size: 24px;
    
            }

        }

    
    }
}

@keyframes move {

0% {
    transform: translateX(0);
}

100% {
    transform: translateX(-375px);
}
}