#contacts {
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    a {
        cursor: none;
        border-radius: 100px;
        background-color: transparent;
        text-decoration: none;
        margin: 16px;


        // font-family: mySecFont;

        button {
            font-size: 54px;
            font-family : ClearfaceITCW01;
            background-color: transparent;
            border: 1px solid black;
            border-radius: 100px;
            padding: 7px 20px 7px 20px;
            transition: transform 0.1s linear;
            &:hover {
                color: #EE4E2B;
                background-color: #F7D9D3;


            }
            
        }
    }


}

@media screen and (max-width: 700px) {
    #contacts {
        height: 300px;
        button {
            border-radius: 100px;
            a {
                padding: 8px;

                cursor: none;
                margin: 16px;
                font-size: 24px;
                font-family: mySecFont;
                font-weight: bold;

            }
        }
    
    }
}