$main-color : black;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
$second-font : Josefin sans ;
$First-font : myFirstFont;
$background-color-1 : #F0EDE5;



.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid $main-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    z-index: 9;
    p {
        font-size: 1.3rem;
        font-family: mySecFont;
        font-weight: bold;


    }

    .contact-btn {
        font-family: mySecFont;
        text-decoration: none;
        border: 1px solid $main-color;
        border-radius: 100px;
        padding: 7px 14px 7px 14px;;
        background-color: $background-color-1;
        font-size: 1rem;
        font-weight: bold;

        cursor: none;
        transition: transform 0.1s linear;
        &:hover {
            background-color: #f0EDFF;
        }
    }
}
