$background-color-1 : #f7f6fa;
$main-color : #260F71;
$First-font : myFirstFont;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


@font-face {
    font-family: myFirstFont;
    src: url("./assets/font/AestheticRegular-Yzraq.otf");
  }

* {
    margin: 0;
    padding: 0;
    background-color: $background-color-1;
    box-sizing: border-box;
    color: $main-color;
}

.RETICOOL {
  color: transparent !important;
  background-color: transparent !important;
}
.RETICOOL__circle {
  background-color: transparent !important;
}

.RETICOOL__circle-anim {
  width: 12px !important;
}